<section class="py-5">
    <h1 class="display-3">
        Thank you!!!
    </h1>
    <p class="lead">Your professional will contact you within 24 hours</p>
    <div id="page"></div>
    <a href="/" class="btn btn-lg btn-dark">Go Back Home</a>
    <script>
        Amount = "{{Amount}}"
        document.getElementById("page").textContent = Amount;
    </script>
</section>